{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
   <div class="row align-content-center justify-content-center">
        <img src="{{ asset('build/images/g.gif') }}" alt="" class="img-fluid w-50">
    </div>
{% endblock %}
