{% extends 'base.html.twig' %}

{% block title %}Annees{% endblock %}

{% block body %}
    <p class="display-4 text-center mb-5">{{ title }} <a href="/annee/add" class="text-primary text-decoration-none">+</a></p>
    <table class="table text-center">
        <thead class=""> 
            <tr>
                <th scope="col">#ID</th>
                <th scope="col">Libelle</th>
                <th scope="col" colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for annee in annees %}
                <tr>
                    <td>{{ annee.id }}</td>
                    <td>{{ annee.libelle }}</td>
                    <td>
                        <a href="{{ path('annee-edit', {"id" : annee.id}) }}" class="btn btn-outline-warning">modifier</a>
                    </td>
                </tr>
            {% endfor %}
    </table>

   
{% endblock %}
